[submodule "cnr_yaml"]
	path = cnr_yaml
	url = https://github.com/CNR-STIIMA-IRAS/cnr_yaml.git
	branch = master
[submodule "cnr_logger"]
	path = cnr_logger
	url = https://github.com/CNR-STIIMA-IRAS/cnr_logger.git
	branch = master
[submodule "cnr_param"]
	path = cnr_param
	url = https://github.com/CNR-STIIMA-IRAS/cnr_param.git
	branch = master
[submodule "cnr_class_loader"]
	path = cnr_class_loader
	url = https://github.com/JRL-CARI-CNR-UNIBS/cnr_class_loader.git
	branch = modern_cmake
